<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="XmlProject.Beallitasok" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="XmlProject.Beallitasok" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 
  
  <section name="sajatok" type="XmlProject.VeseConfig, XmlProject"/>
    
  
 </configSections>

  <sajatok logoUrl="halilali ">
    <position x="25"/>  
  </sajatok>  
  
 <appSettings>
   <add key="logoUrl" value="http://logo.com/enyim.png"/>
 </appSettings>
 <applicationSettings>
  <XmlProject.Beallitasok>
   <setting name="logoUrl" serializeAs="String">
    <value>http://logo.com/logo.png</value>
   </setting>
  </XmlProject.Beallitasok>
 </applicationSettings>
 <userSettings>
  <XmlProject.Beallitasok>
   <setting name="X" serializeAs="String">
    <value>80</value>
   </setting>
  </XmlProject.Beallitasok>
 </userSettings>
</configuration>