<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
       <service name="ArfolyamSzolgaltatas.Service1">
        <endpoint address="http://localhost:8888/Design_Time_Addresses/szolgaltatas" binding="wsHttpBinding" contract="ArfolyamSzolgaltatas.Service1"/>        
      </service>    
    </services>     
  </system.serviceModel>
</configuration>